<!DOCTYPE html>
<html lang="en">
<head>
	<title>PharmaCity</title>
	 <!-- add bootstrap css file -->
	 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	 <script src="https://kit.fontawesome.com/ac77fbe5d1.js" crossorigin="anonymous"></script>
	 <link rel="stylesheet" href="./css/slick.css">
	
	 <link rel="stylesheet" href="./css/style.css">
 
	 <link rel="stylesheet" href="./css/customer.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	  <link rel="stylesheet" type="text/css" href="css/main.css">
	  
	  <header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-sm-12 col-12">
					   <button class="btn border dropdown-toggle my-md-4 my-2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">INR
					</button>
					<div class="dropdown-menu">
						<div class="dropdown-menu">
							<a href="#" class="dropdown-item">USD</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-12 text-center">
					<h2 class="my-md-3 site-title primary-color text-white">PharmaCity</h2>
				</div>
				<div class="col-md-4 col-12 text-right">
					<p class="my-md-4 header-links">
						<a href="#" class="px-2">Sign In</a>
						<a href="#" class="px-1">Create an Account</a>
					</p>
				</div>
			</div>
		</div>
	
		<div class="container-fluid p-0">
			<nav class="navbar navbar-expand-lg navbar-light bg-white">
				
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
				  <ul class="navbar-nav">
					<li class="nav-item active">
					  <a class="nav-link" href="./index.html">HOME <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="./index.html">PRODUCTS</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" data-value="bestseller" href="./index.html">BESTSELLERS</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./Aboutus.html">ABOUT US</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./contactUs.html">CONTACT</a>
					</li>
					
				  </ul>
				</div>
	
				<div class="navbar-nav">
					<li class="nav-item border rounded-circle mx-2 search-icon">
						<i class="fas fa-search p-2"></i>
					</li>
					<li class="nav-item border rounded-circle mx-2 basket-icon">
						<i class="fas fa-shopping-basket p-2"></i>
					</li>
				</div>
			  </nav>
		</div>
	</header>

</head>
<body>
  


<!-- header -->
<header class="header ">
  <div class="overlay"></div>
   <div class="container">
   	  <div class="description ">

  </div>
   </div>
  
</header>

<!-- about section -->
<!-- <div class="about" id="about">
	<div class="container">
	  <h1 class="text-center">About Our Project</h1>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/team-3.jpg" class="img-fluid">
				<span class="text-justify">S.Web Developer</span>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-12 desc">
			  
				<h3>D.John</h3>
				<p>
				   ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
	</div>
</div> -->

<div class="jumbotron text-center">
	<h1>About our Project</h1>
	<h2>A 24x7 Online Pharmacy, affordable price, convenient order, delivery at your doorstep </h2>
	<h3><strong>Authentic Medicines:</strong>  Be 100% assured of receiving genuine medicines</h3>
	<h3><strong>Monthly provisions:</strong> Scheduled Delivery for patients that need to restock medicine every month</h3>
	<h3><strong>Pocket-friendly:</strong> Our range of discounts, offers and deals will allow to 
		go economical every day, every time.</h3>
	
</div>

<!-- portfolio -->
<div class="portfolio" id="Product">
     <h1 class="text-center">Products</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/cough and cold.jpg" class="img-fluid">
				   Cough and Cold Medicine
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/antibiotics.jpg" class="img-fluid">
				Antibiotics
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/ayurvedic.jpg" class="img-fluid">
				Ayurvedic Medicine
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/vitamins.jpg" class="img-fluid">
				Vitamins and Essential Minerals
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/skincare.jpg" class="img-fluid">
				Skincare Medicine
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12">
				<img src="images/portfolio/toileteries.jpg" class="img-fluid">
				Toiletries
			</div>

		</div>
	</div>
</div>


<!-- Posts section -->
<!-- <div class="blog" id="blog">
	<div class="container">
	<h1 class="text-center">Blog</h1>
		<div class="row">
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/polit.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					<h4 class="card-title">Post Title</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/images.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					   <h4 class="card-title">Post Title</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-12">
				<div class="card">
					<div class="card-img">
						<img src="images/posts/imag2.jpg" class="img-fluid">
					</div>
					
					<div class="card-body">
					<h4 class="card-title">Post Title</h4>
						<p class="card-text">
							
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class="card-footer">
						<a href="" class="card-link">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->

<!-- Team section -->
<div class="team" id="team">
	<div class="container">
	   <h1 class="text-center">Our Team</h1>
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/vatsal-suit.jpeg" class="img-fluid" alt="team">
				<div class="des">
				 	Vatsal Vatsyayan
				 </div>
				
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/akash.jpeg" class="img-fluid" alt="team">
				<div class="des">
				 	 Aakash Reddy
				 </div>
				
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/ramesh.jpeg" class="img-fluid" alt="team">
				<div class="des">
				 	Ramesh Kumar
				 </div>
				
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 item">
				<img src="images/harsh.jpeg" class="img-fluid" alt="team">
				 <div class="des">
				 	Harsh Shah
				 </div>
				
			</div>
		</div>
	</div>
</div>

<!-- Contact form -->
<div class="contact-form" id="contact">
	<div class="container">
		<form>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12">
				  <h1>Get in Touch</h1>	
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 right">
				   <div class="form-group">
				   	 <input type="text" class="form-control form-control-lg" placeholder="Your Name" name="">
				   </div>
				   <div class="form-group">
				   	 <input type="email" class="form-control form-control-lg" placeholder="YourEmail@email.com" name="email">
				   </div>
				   <div class="form-group">
				   	 <textarea class="form-control form-control-lg">
				   	 	
				   	 </textarea>
				   </div>
				   <input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
				</div>
			</div>
		</form>
	</div>
</div>
<!-- add Javasscript file from js file -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src='js/main.js'></script>

</body>
</html>