<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaCity</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/ac77fbe5d1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/slick.css">
   
    <link rel="stylesheet" href="./css/style.css">

    

</head>
<body>

<!-- header  -->

<header>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 col-sm-12 col-12">
                 <button class="btn border dropdown-toggle my-md-4 my-2" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">INR
              </button>
              <div class="dropdown-menu">
                  <div class="dropdown-menu">
                      <a href="#" class="dropdown-item">USD</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-12 text-center">
              <h2 class="my-md-3 site-title primary-color text-white">PharmaCity</h2>
          </div>
          <div class="col-md-4 col-12 text-right">
              <p class="my-md-4 header-links">
                  <a href="#" class="px-2">Sign In</a>
                  <a href="#" class="px-1">Create an Account</a>
              </p>
          </div>
      </div>
  </div>

  <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="./index">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./index">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-value="bestseller" href="./index">BESTSELLERS</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./Aboutus">ABOUT US</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="./contactUs">CONTACT</a>
              </li>
              
            </ul>
          </div>

          <div class="navbar-nav">
              <li class="nav-item border rounded-circle mx-2 search-icon">
                  <i class="fas fa-search p-2"></i>
              </li>
              <li class="nav-item border rounded-circle mx-2 basket-icon">
                  <i class="fas fa-shopping-basket p-2"></i>
              </li>
          </div>
        </nav>
  </div>
</header>

<!-- header  -->

<!-- Main Section -->

<main>



 <!-- Second Slider -->

 <div id="carouselExampleControls" class="carousel slide container-fluid p-0" data-ride="carousel">
    <div class="carousel-inner">
      
      <div class="carousel-item" id="wrapper">
        <img src="./assets/veet ad.jpg" class="img-fluid d-block w-100" alt="Banner 2">
      </div>
      <div class="carousel-item active" id="wrapper">
        <img src="./assets/garnier ad.jpg" class="img-fluid d-block w-100" alt="Banner1">
      </div>
      <div class="carousel-item" id="wrapper">
        <img src="./assets/himalaya ad.jpg" class="img-fluid d-block w-100" alt="Banner 3">
      </div>
      <div class="carousel-item" id="wrapper">
        <img src="./assets/nivea ad.jpg" class="img-fluid d-block w-100" alt="Banner 4">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

 <!-- Second Slider -->



 <!-- Third Slider -->

 <div class="container-fluid">

 </div>

  <!-- Third Slider -->

  <!-- portfolio -->
<div class="portfolio" id="Product">
    <h1 class="text-center">Toileteries</h1>
   <div class="container">
       <div class="row">
        <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;" id="adjust" id="cardstyle">
            <img src="./toileteries/head and shoulders.jpg" class="img-fluid"  id="adjust">
            <div class="card-body">
              <h5 class="card-title">Head and Shoulders Shampoo</h5>
              
              
              <a href="./Buynow" class="btn btn-primary">Rs 230</a>
            </div>
          </div>

          <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;" id="cardstyle" id="adjust">
            <img src="./toileteries/himalaya.jpg" class="img-fluid" id="adjust">
            <div class="card-body">
              <h5 class="card-title">Himalaya Shampoo</h5>
              
              <a href="./Buynow" class="btn btn-primary">Rs 255</a>
            </div>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-12">
            <img src="./toileteries/jergens lotion.jpg" class="img-fluid" id="adjust">            <div class="card-body">
              <h5 class="card-title">Jergens Lotion</h5>
              <a href="./Buynow" class="btn btn-primary">Rs 225</a>
            </div>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;" id="adjust" id="cardstyle">
            <img src="./toileteries/nivea creme.jpg" class="img-fluid" id="adjust">            <div class="card-body">
              <h5 class="card-title">Nivea Cream</h5>
             
              <a href="./Buynow" class="btn btn-primary">Rs 128</a>
            </div>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;" id="cardstyle" id="adjust">
            <img src="./toileteries/patanajali kesh kanti.jpg" class="img-fluid" id="adjust">
            <div class="card-body">
              <h5 class="card-title">Patanjali Shampoo</h5>
              <a href="./Buynow" class="btn btn-primary">Rs 180</a>
            </div>
          </div>
          <div class="card col-lg-4 col-md-4 col-sm-12" style="width: 18rem;" id="cardstyle" id="adjust">
            <img src="./toileteries/veet hair removal cream.jpg" class="img-fluid" id="adjust">
            <div class="card-body">
              <h5 class="card-title">Veet Hair Removal Cream</h5>
              <a href="./Buynow" class="btn btn-primary">Rs 135</a>
            </div>
          </div> 

          


       </div>
   </div>
</div>


</main>

<!-- Main Section -->

<!-- Footer Section -->

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #21d192;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a href="https://www.facebook.com/Phrama-city-107585357796619/" class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
            
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a href="https://www.instagram.com/pharma__city/" class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">PharmaCity</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>A 24x7 Online Pharmacy, affordable price, convenient order, delivery at your doorstep</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="./Cough">Cough and Cold Medicine</a>
        </p>
        <p>
          <a class="dark-grey-text" href="./Antibiotic">Antibiotics</a>
        </p>
        <p>
          <a class="dark-grey-text" href="./Ayurvedic">Ayurvedic Medicine</a>
        </p>
        <p>
          <a class="dark-grey-text" href="./Vitamins">Vitamins and Essential Minerals</a>
        </p>
        <p>
          <a class="dark-grey-text" href="./skincaree">Skincare</a>
        </p>
        <p>
          <a class="dark-grey-text" href="./Toilet">Toiletries
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="#!">Your Account</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Shipping Rates</a>
        </p>
        <p>
          <a class="dark-grey-text" href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>Katpadi,Vellore</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> pharmacity@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 91 234 567 88</p>
        <p>
          <i class="fas fa-print mr-3"></i> + 91 234 567 89</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

 

</footer>
<!-- Footer -->


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous">
</script><script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="./js/main.js"></script>
<script src="./js/slick.js" type="text/javascript"></script>
<script type="text/javascript">
</script>

</body>
</html>